@font-face {
  font-family: "Inter";
  src: url("catppuccin/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("catppuccin/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("catppuccin/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("catppuccin/Inter-Bold.ttf") format("truetype");
}
