@use "fonts";
@import "latte";

@mixin codeStyles() {
  .cm-comment { color: $subtext1 }; 
  .cm-keyword { color: $red }; 
  .cm-def { color: $text }; 
  .cm-type { color: $peach }; 
  .cm-operator { color: $red }; 
  .cm-variable { color: $peach }; 
  .cm-property { color: $text }; 
  .cm-string { color: $green }; 
  .cm-number { color: $peach }; 
}

:root {
  /* Typora Variables */
  --bg-color: #{$base};
  --text-color: #{$text};
  --md-char-color: #{$overlay1}; // characters that float when cursor is over
  --meta-content-color: #{$blue}; // eg. links inside this [some text](link with that color)
  --select-text-font-color: #{$subtext1};
  --window-border: none;
  --monospace: "Cascadia Code", "Fira Code", "Cascadia Mono", monospace;
  // --primary-color: $surface0;
  // --primary-btn-border-color: $surface1;
  // --primary-btn-text-color: $text;

  // --window-border: 1px solid $overlay0;

  // --active-file-bg-color: $overlay1;
  // --active-file-text-color: inherit;
  // --active-file-border-color: $overlay0;

  // --side-bar-bg-color: $base;
  // --item-hover-bg-color: 0;
  // --item-hover-text-color: inherit;

  // --blur-text-color: #C8C8C8;
  // --drag-placeholder-color: #c7c5c5;
  // --panel-border-color: #777777;
  // --active-toggle-btn-color: #ddd;
  // --table-border-color: #ccc;
  // --primary-color: #428bca;
  // --primary-btn-border-color: #285e8e;
  // --primary-btn-text-color: #fff;
  // --search-select-bg-color: #000;
  // --search-select-text-color: #fff;
  // --heading-char-color: #ddd;
  // --color-popover-bg-color: #fafafa;
  // --control-text-color: var(--text-color);
  // --control-text-hover-color: var(--text-color);
  // --active-file-bg-color: #eee;
  // --active-file-text-color: inherit;
  // --active-file-border-color: #777;
  // --focus-ring-color: #6eace2;
  // --side-bar-bg-color: var(--bg-color);
  // --item-hover-bg-color: rgba(229, 229, 229, 0.59);
  // --item-hover-text-color: inherit;
  // --side-bar-menu-active-tint: var(--side-bar-menu-active-tint);
  // --mac-title-bar-height: 20px;
  // --sidebar-width: 270px;
  // --rawblock-edit-panel-bd: #f5f6f7;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  body {
    font-family: "Cascadia Mono", "Open Sans", sans-serif;
    
    color: $text;
    line-height: 1.3;
  }
}

#write {
  max-width: 75%;

  padding: 40px 20px 60px 20px;

  font-size: 1rem;
  color: $text;

  a {
    color: $rosewater;
    text-decoration: none;
  }

  strong, em, del, u {
    color: $highlighted-text;
  }

  h1, h2, h3, h4 {
    margin: 8px 0;
  }

  h1 {
    margin: 1.25rem 0;
    padding: 20px 30px;

    font-weight: bold;
    font-size: 2.8rem;
    line-height: 4.4rem;
    text-align: center;
  }

  h2 {
    margin: 1.25rem 0;
    padding: 0 30px;

    font-weight: normal;
    font-size: 2.2rem;
    line-height: 3.6rem;
    text-align: center;
  }

  hr {
    height: 2px;

    padding: 0;
    margin: 16px 8px;
    border: 0 none;
    box-sizing: content-box;

    background-color: $overlay0;

    overflow: hidden;
  }

  mark {
    background-color: adjust-color($sky, $lightness: 40%);
  }

  blockquote {
    margin: 0.6em 0;
    padding: .2rem 8px 0 12px;

    color: $subtext0;
    background-color: $mantle;
    
    border-left: 4px solid $subtext0;
    border-radius: 4px;

    & & {
      border-radius: 4px 0 0 4px;
      padding: .1rem 0 0 12px;
    }
  }
  
  code {
    padding: 4px;
    
    border-radius: 2px;
    
    background-color: $mantle;
    color: $yellow;
  }

  .md-expand {
    > :not(span) {
      color: $rosewater;
      background-color: transparent;
      
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
    }
  }

  .md-image > .md-meta {
    color: $maroon;
  }
}

#typora-source {
  .CodeMirror-cursor {
    border-color: $surface2 !important;
  }
  
  .cm-overlay { color: $text};  // blank spaces/code
  .cm-invalidchar { color: $maroon};  // idk why this exists just ignore it
  .cm-tab { color: $overlay1}; 
  
  // Text decorators
  .cm-header { color: $teal}; 
  .cm-atom { color: $subtext0};  // blockquote
  .cm-number { color: $subtext0};  // bugged blockquote tag
  .cm-link { color: $rosewater};  // links
  .cm-strong { color: $red};  // bold
  .cm-em { color: $yellow};  // italic
  .cm-del { color: $overlay1};  // strike
  .cm-hr { color: $overlay1};  // horizontal full width line
  .cm-string { color: $overlay1}; 
  .cm-meta { color: $overlay1};  // checkbox square brackets
  .cm-comment { color: $green};  // compact code block
  .cm-tag { color: $teal};  // html tag
  .cm-attribute { color: $yellow};  // html attribute
  .cm-bracket { color: $overlay1};  // html brackets

  .cm-block-start {
    &.cm-comment { color: $subtext1};  // code block lang and ```
    &.cm-variable-2 { // list item marker
      color: $teal;
      font-style: italic;
    }
    &.cm-meta { color: $maroon};  // unmarked checkbox
    &.cm-property { color: $blue};  // marked checkbox 
  }
}

// Code Block
#write .CodeMirror-line,
#typora-source .cm-s-inner.CodeMirror-line {
  @include codeStyles();
}
