@import "general";
@import "latte";

:root {
  --bg-color: #{$base};
  --text-color: #{$text};
  --md-char-color: #{$overlay1}; // characters that float when cursor is over
  --meta-content-color: #{$blue}; // eg. links inside this [some text](link with that color)
  --select-text-font-color: #{$subtext1};
}

html body { color: $text; }

#write {
  color: $text;

  a { color: $rosewater; }

  strong, em, del, u { color: $highlighted-text; }

  hr { background-color: $overlay0; }

  mark { background-color: adjust-color($sky, $lightness: 40%); }

  blockquote {
    color: $subtext0;
    background-color: $mantle;
    
    border-left-color:$subtext0;
  }
  
  code {
    background-color: $mantle;
    color: $yellow;
  }

  table {
    background-color: $mantle;

    thead { background-color: $crust; }

    tbody {
      tr {
        border-bottom-color: $crust;

        td { border-color: $crust; }
      }
    }
  }

  .md-expand > :not(span) { color: $rosewater; }

  .md-image > .md-meta { color: $maroon; }
}

#typora-source {
  .CodeMirror-cursor { border-color: $surface2 !important; }
  
  .cm-overlay { color: $text; }  // blank spaces/code
  .cm-invalidchar { color: $maroon; }  // idk why this exists just ignore it
  .cm-tab { color: $overlay1; } 

  // Text decorators
  .cm-header { color: $teal; } 
  .cm-atom { color: $subtext0; }  // blockquote
  .cm-number { color: $subtext0; }  // bugged blockquote tag
  .cm-link { color: $rosewater; }  // links
  .cm-strong { color: $red; }  // bold
  .cm-em { color: $yellow; }  // italic
  .cm-del { color: $overlay1; }  // strike
  .cm-hr { color: $overlay1; }  // horizontal full width line
  .cm-string { color: $overlay1; } 
  .cm-meta { color: $overlay1; }  // checkbox square brackets
  .cm-comment { color: $green; }  // compact code block
  .cm-tag { color: $teal; }  // html tag
  .cm-attribute { color: $yellow; }  // html attribute
  .cm-bracket { color: $overlay1; }  // html brackets

  .cm-block-start {
    &.cm-comment { color: $green; }  // code block lang and ```
    &.cm-variable-2 { color: $teal; } // list item marker
    &.cm-meta { color: $maroon; }  // unmarked checkbox
    &.cm-property { color: $blue; }  // marked checkbox 
  }
}

// Code Block
#write .CodeMirror-line,
#typora-source .cm-s-inner.CodeMirror-line {
  .cm-comment { color: $subtext0; } 
  .cm-keyword { color: $red; } 
  .cm-def { color: $text; } 
  .cm-type { color: $peach; } 
  .cm-operator { color: $red; } 
  .cm-variable { color: $peach; } 
  .cm-property { color: $text; } 
  .cm-string { color: $green; } 
  .cm-number { color: $peach; } 
}
